<section id="premios" class="resume p-3 p-lg-5 d-flex align-items-center" style="margin-top: 63px;">
  <div class="w-100">
    <div class="section-title">
      <h2>PRÊMIOS E Certificações</h2>
    </div>
    <ul class="fa-ul">
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        Funcionário do mês (Fevereiro - 2020) na Madelife.</li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        1º Lugar - Jogo de Auxilio ao ensino de Libras - PRATIQUELIBRAS no 8º Forum Cientifico da Funec - Unifunec.
        2017</li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        4º Lugar - Aplicações de Realidade Virtual na Área da Saude no 8º Forum Cientifico da Funec - Unifunec 2017.
      </li>
      <li>
        <i class="fa-li fa fa-trophy text-warning"></i>
        Scrum Foundation Professional Certificate - (Portuguese).
      </li>
    </ul>
  </div>
</section>