<section id="habilidades" class="skills section-bg" style="margin-top: 63px;">
  <div class="container">
    <div class="section-title">
      <h2>HABILIDADES</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
        in iste officiis commodi quidem hic quas.</p>
    </div>
    <div class="row skills-content">
      <div class="resume-section p-3  d-flex align-items-center" id="skills">
        <div class="">
          <div class="subheading">Ferramentas e Linguagens de Programação</div>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <i class="bx bxl-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="bx bxl-css3"></i>
            </li>
            <li class="list-inline-item">
              <i class="bx bxl-javascript"></i>
            </li>
            <li class="list-inline-item">
              <i class="bx bxl-jquery"></i>
            </li>
            <li class="list-inline-item">
              <i class="bx bxl-angular"></i>
            </li>
            <li class="list-inline-item">
              <i class="bx bxl-bootstrap"></i>
            </li>
            <li class="list-inline-item">
              <i class="bx bxl-git"></i>
            </li>
            <li class="list-inline-item">
              <i class="bx bxl-nodejs"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Desenvolvimento Web (HTML, CSS, Javascript);</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Desenvolvimento Mobile;</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Desenvolvimento Backend (C#, Java, Node.js);</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Banco de Dados SQL e NoSQL (MySQL e RavenDB);</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              E muito mais (Scrum, RabbitMQ, entre outros).</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>