<section class=" resume-section p-3 d-flex justify-content-center" id="experiencia" style="margin-top: 63px;">
  <div class="w-100">
    <div class="section-title">
      <h2>EXPERIÊNCIAS</h2>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">CTO - Chief Technology Officer </h3>
        <div class="subheading mb-3">Madelife</div>
        <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day,
          going forward, a new normal that has evolved from generation X is on the runway heading towards a
          streamlined cloud solution. User generated content in real-time will have multiple touchpoints for
          offshoring.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Julho 2019 - Presente</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Analista de Sistemas</h3>
        <div class="subheading mb-3">Madelife</div>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the
          digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information
          highway will close the loop on focusing solely on the bottom line.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Junho 2019 - Julho 2019</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between  mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Analista de Sistemas</h3>
        <div class="subheading mb-3">HD Soluções</div>
        <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C
          users after installed base benefits. Dramatically visualize customer directed convergence without
          revolutionary ROI.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Dezembro 2018 - Junho 2019</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Estagiário</h3>
        <div class="subheading mb-3">Sistemas BR</div>
        <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless
          key performance indicators offline to maximise the long tail. Keeping your eye on the ball while
          performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Junho 2018 - Agosto 2018</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Estagiário</h3>
        <div class="subheading mb-3">Unifunec - Centro Universitário de Santa Fé do Sul</div>
        <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless
          key performance indicators offline to maximise the long tail. Keeping your eye on the ball while
          performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Junho 2018 - Dezembro 2018</span>
      </div>
    </div>
  </div>
</section>