
<div id="hero" class="resume-section d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container">
    <h1 class="">RONALDO
      <span class="text-primary">PIRES DIAS</span>
    </h1>
    <p>Desenvolvedor Fullstack</p>
  </div>
</div>

<div id="main">
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>SOBRE</h2>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img src="../../../assets/img/home-eu2.jpg" class="img-fluid" alt="EU (Ronaldo Pires Dias)">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <p class="font-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Nascimento:</strong> 13 de Agosto de 1997</li>
                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.ronaldopiresdias.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Telefone:</strong> +55 17 99148 9765</li>
                <li><i class="icofont-rounded-right"></i> <strong>Cidade:</strong> Santa Fé do Sul - SP, Brasil</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Idade:</strong> <span id="idade"></span></li>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Master</li>
                <li><i class="icofont-rounded-right"></i> <strong>E-mail:</strong> ronaldopiresdias13@hotmail.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
              </ul>
            </div>
          </div>
          <p>
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et
            ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque.
            Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
          </p>
        </div>
      </div>

    </div>
  </section>
</div>